footer {
    display: block;
    color: white;
    padding: 1.1rem;
    text-align: center;
    background-color: black;
    bottom: 0;
  }
  
  footer a{
      font-size: var(--p-font);
      color: var(--main-color);
      outline: none !important;
      text-decoration: none;
      font-weight: 500;
  }

  .intense {
    color: var(--main-color);
  }